# ==========================================
# 1. FOLDER SPESIFIK YANG TIDAK DI-PUSH
# ==========================================
backend-ziad/

# ==========================================
# 2. DEPENDENSI & ENVIRONMENT
# ==========================================
node_modules/
.env
.DS_Store

# ==========================================
# 3. KREDENSIAL FABRIC (WAJIB DISEMBUNYIKAN!)
# ==========================================
wallet/
wallet-muhammadiyah/
crypto-config/
channel-artifacts/
*.pem
*.key
*.crt

# ==========================================
# 4. BUILD & LOGS
# ==========================================
dist/
build/
npm-debug.log
yarn-error.log